<div class="containter">
    <h1 class="text-center">Burger App</h1>
    <br>

    <div class="row">
        <div class="col col-sm-4">
            <h2>Create Burger</h2>

            <form class="create-form">

                <div class="form-group">
                    <label for="burger-name">Burger Name:</label>
                    <input type="text" id="burger-name" name="newBurger">
                </div>
                <button type="submit">Create Burger</button>
            </form>
        </div>
        <div class="col col-sm-4">
            <h2>Eat Burger</h2>
            <ul class="text-right">
                {{#each burgers}}
                {{#unless devoured}}
                {{burger_name}}
                <button type="submit" class="burgerButton" id="{{id}}" value="1">Eat Burger</button>
                <br>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col col-sm-4">
            <h2>Consumed Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{burger_name}}
                <br>
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>
</div>


</div>